// place your custom styles here
.vp-blog-hero-title{
    color: #1f1e33;
}

.vp-blog-hero-description{
    color: #1f1e33;
}

body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
  }